PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/sovonlpg
MONGO_DB=sovonlpg
JWT_SECRET=replace-with-a-long-random-secret
THEORETICAL_PROFIT_PASSWORD=replace-with-a-fixed-admin-password
JWT_EXPIRES_IN=1d
NODE_ENV=development
CLIENT_ORIGIN=https://one-lpg-erp.netlify.app